In [1]:
planets=["Earth","Mars","Jupiter","Pluto"]

In [2]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [3]:
mixedlist=["Hello",123,12.06,"World"]

In [4]:
mixedlist

['Hello', 123, 12.06, 'World']

In [5]:
mlist=['Hello',[1,2,3,4]]

In [6]:
mlist

['Hello', [1, 2, 3, 4]]

In [7]:
print(len(mlist))

2

In [8]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [9]:
print(planets[1])

Mars

In [10]:
print(planets[1:4])

['Mars', 'Jupiter', 'Pluto']

In [11]:
print(planets[-1])

Pluto

In [12]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [13]:
planets[1]="Venus"

In [14]:
planets

['Earth', 'Venus', 'Jupiter', 'Pluto']

In [15]:
planets.append("Mars")

In [16]:
planets

['Earth', 'Venus', 'Jupiter', 'Pluto', 'Mars']

In [17]:
del planets[2]

In [18]:
planets

['Earth', 'Venus', 'Pluto', 'Mars']

In [19]:
planets.extend(["Jupiter","Saturn"])
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn']

In [20]:
planets.extend([1,2,3,4,5])

In [21]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [22]:
planets.insert(3,"Mars")

In [23]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [24]:
planets.remove("Mars")

In [25]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [26]:
planets.pop(5)

'Saturn'

In [27]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 1, 2, 3, 4, 5]

In [28]:
planets.pop()

5

In [29]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 1, 2, 3, 4]

In [30]:
planets.clear()

In [31]:
planets

[]

In [32]:
planets=["Earth","Mars","Mars","Jupiter","Pluto"]

In [33]:
planets.index("Jupiter")

3

In [34]:
planets.count("Mars")

2

In [35]:
planets.sort()

In [36]:
print(planets)

['Earth', 'Jupiter', 'Mars', 'Mars', 'Pluto']

In [37]:
planets.reverse()

In [38]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [39]:
planets1=planets

In [40]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [41]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [42]:
planets1.append("Venus")

In [43]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus']

In [44]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus']

In [45]:
planets.pop()

'Venus'

In [46]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [47]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [48]:
p1=planets.copy()

In [49]:
p1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [50]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [51]:
p1.extend([1,2,3,4])

In [52]:
p1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 1, 2, 3, 4]

In [53]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [55]:
print(min(planets))

Earth

In [56]:
print(max(planets))

Pluto

In [57]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
print(list(range(10,50)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [59]:
print(list(range(10,50,5)))

[10, 15, 20, 25, 30, 35, 40, 45]

In [60]:
a=list(range(100,500,50))

In [61]:
a

[100, 150, 200, 250, 300, 350, 400, 450]

In [70]:
a=list(range(1,100,20))

In [71]:
a

[1, 21, 41, 61, 81]

In [72]:
#Tuples
planets=()

In [73]:
planets

()

In [74]:
planets=("Earth","Mars","Jupiter","Pluto")

In [75]:
planets

('Earth', 'Mars', 'Jupiter', 'Pluto')

In [77]:
t1=(1,2,3)
t2=(4,5,6)
t3=(t1,t2)

In [78]:
t3

((1, 2, 3), (4, 5, 6))

In [79]:
print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [80]:
t4=(12.45,12,"Hello")

In [81]:
t4

(12.45, 12, 'Hello')

In [82]:
t4[2]

'Hello'

In [83]:
t1=('Prime',)*5

In [84]:
t1

('Prime', 'Prime', 'Prime', 'Prime', 'Prime')

In [85]:
t1=('Prime')*5

In [86]:
t1

'PrimePrimePrimePrimePrime'

In [89]:
t1=('Prime',)*5

In [90]:
t1

('Prime', 'Prime', 'Prime', 'Prime', 'Prime')

In [91]:
t1[2]="Hyd"

TypeError: 'tuple' object does not support item assignment

In [92]:
del t1

In [93]:
t1

NameError: name 't1' is not defined

In [94]:
t2=('Prime',)*6
t2

('Prime', 'Prime', 'Prime', 'Prime', 'Prime', 'Prime')

In [95]:
print(len(t2))

6

In [96]:
list=[1,2,3,4,5,6]
print(tuple(list))

(1, 2, 3, 4, 5, 6)

In [98]:
t=('Prime',)
for i in range(int(5)):
    t1=(t,)
    print(t1)

(('Prime',),)
(('Prime',),)
(('Prime',),)
(('Prime',),)
(('Prime',),)

In [99]:
t=("Prime","Classes","Hyd")
print(t[2])

Hyd

In [100]:
print(t[:1])

('Prime',)

In [101]:
print(t[1:2])

('Classes',)

In [102]:
print(t[1:3])

('Classes', 'Hyd')

In [103]:
for item in ('Prime','Class','Hyd','Bangalore'):
    print(item)

Prime
Class
Hyd
Bangalore

In [104]:
for y in ('Prime','Class','Hyd','Bangalore'):
    print(y)

Prime
Class
Hyd
Bangalore

In [105]:
friends = ('Steve', 'Rachel', 'Michael', 'Monica')
for index, friend in enumerate(friends):
    print(index,friend)

0 Steve
1 Rachel
2 Michael
3 Monica

In [106]:
d={1:"Prime",2:"Classes",3:"Hyderabad"}

In [107]:
d

{1: 'Prime', 2: 'Classes', 3: 'Hyderabad'}

In [108]:
d1={"A":2,"B":24.0,"C":"123"}

In [109]:
d1

{'A': 2, 'B': 24.0, 'C': '123'}

In [110]:
d2={"age":[10,20,30,40],"course":{1:"C",2:"Java",3:"Python"}}

In [111]:
d2

{'age': [10, 20, 30, 40], 'course': {1: 'C', 2: 'Java', 3: 'Python'}}

In [113]:
d1.keys()

dict_keys(['A', 'B', 'C'])

In [115]:
d1.values()

dict_values([2, 24.0, '123'])

In [116]:
d2['age']

[10, 20, 30, 40]

In [118]:
del d2['course'][2]

In [119]:
d2

{'age': [10, 20, 30, 40], 'course': {1: 'C', 3: 'Python'}}

In [121]:
d2.pop('course')

{1: 'C', 3: 'Python'}

In [122]:
d2

{'age': [10, 20, 30, 40]}

In [123]:
d2.popitem()

('age', [10, 20, 30, 40])

In [124]:
d2

{}