In [1]:
s1=set()

In [2]:
s1

set()

In [3]:
s1=set("PrimeClassesHyderabad")

In [4]:
s1

{'C', 'H', 'P', 'a', 'b', 'd', 'e', 'i', 'l', 'm', 'r', 's', 'y'}

In [5]:
s1=set("primeclasseshyderabad")

In [6]:
s1

{'a', 'b', 'c', 'd', 'e', 'h', 'i', 'l', 'm', 'p', 'r', 's', 'y'}

In [8]:
s2=set(["Prime","Classes","Hyderabad"])

In [9]:
s2

{'Classes', 'Hyderabad', 'Prime'}

In [10]:
s3=set([1,2,3,4,4,5,6,7,7,8,9,9,10])

In [11]:
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
s4=set(["Prime",1,2,3,4,"Classes","Hyd",4,5,6])

In [14]:
s4

{1, 2, 3, 4, 5, 6, 'Classes', 'Hyd', 'Prime'}

In [15]:
s4.add(10)

In [16]:
s4

{1, 10, 2, 3, 4, 5, 6, 'Classes', 'Hyd', 'Prime'}

In [19]:
for i in range(20):
    s4.add(i)

In [20]:
s4

{0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Prime'}

In [21]:
s4.update([31,32])

In [22]:
s4

{0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 31,
 32,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Prime'}

In [23]:
s4.add((100,200))

In [24]:
s4

{(100, 200),
 0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 31,
 32,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Prime'}

In [25]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [26]:
set1.remove(5)

In [27]:
set1

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12}

In [28]:
set1.discard(6)

In [29]:
set1

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [31]:
set1.discard(6)

In [32]:
set1.pop()

1

In [33]:
se

2

In [34]:
set1.clear()

In [35]:
set1

set()

In [36]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [37]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [38]:
set1.pop()

1

In [39]:
set1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [40]:
fs=set([1,2,3,4,5,6])
fs1=frozenset(fs)
fs1

frozenset({1, 2, 3, 4, 5, 6})

In [41]:
fs1.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [48]:
set1 = {2, 4, 5, 6,7}
set2 = {4, 6, 7, 8}
set3 = {7, 8, 9, 10}
#Union
print(set1.union(set2))

{2, 4, 5, 6, 7, 8}

In [43]:
#Intersection
print(set1.intersection(set2))

{4, 6}

In [49]:
print(set1.intersection(set2,set3))

{7}

In [54]:
#set Difference
A = {10, 20, 30}
B = {100, 60}
print (A.difference(B))

{10, 20, 30}

In [51]:
print(B.difference(A))

{100, 60}

In [55]:
print(A.isdisjoint(B))

True

In [56]:
#Subset 
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
print(A.issubset(B))

True

In [57]:
print(B.issubset(C))

False

In [58]:
print(B.issuperset(A))

True