In [1]:
# Looping Statements - While Loop
i=0
while (i<5):
    print("Hello World")
    i+=1

Hello World
Hello World
Hello World
Hello World
Hello World

In [2]:
# Looping Statements - While Loop with else
i=0
while (i<5):
    print("Hello World")
    i+=1
else:
    print("Else Satisfied")

Hello World
Hello World
Hello World
Hello World
Hello World
Else Satisfied

In [3]:
# Looping Statements - For In
l=["I","am","in","Hyderabad"]
for i in l:
    print(i)

I
am
in
Hyderabad

In [9]:

s = "Python"
for i in s :
    print(i)

P
y
t
h
o
n

In [4]:
#Delcaring a Dictionary
d = dict()
d['xyz'] = 456
d['abc'] = 789
d

{'xyz': 456, 'abc': 789}

In [5]:
#Dictionary Example
d1={'xyz':456, 'abc': 789}

In [12]:
d1

{'xyz': 456, 'abc': 789}

In [6]:
# Looping through Dictionary
for i in d:
    print(i,d[i])

xyz 456
abc 789

In [7]:
#Looping through List 
list=["I","am","in","Hyderabad"]
for index in range(len(list)):
        print(list[index])
else:
    print("Else satisfied")

I
am
in
Hyderabad
Else satisfied

In [8]:
#Nested Loop Demo
for i in range(4):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [10]:
# If Condition in For Loop - Continue - Demo
for letter in 'Srinivasa Raju':
    if letter == 'i' or letter == 'a':
        continue
    print('Current Letter :', letter)

Current Letter : S
Current Letter : r
Current Letter : n
Current Letter : v
Current Letter : s
Current Letter :
Current Letter : R
Current Letter : j
Current Letter : u

In [11]:
# Break statement in For Loop
for letter in 'Python Classes':
    if letter == 'c' or letter == 'a':
        break
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current Letter :
Current Letter : C
Current Letter : l

In [13]:
# PASS statement in For Loop
for letter in 'Python Programing':
    pass
print('Current Letter :', letter)

Current Letter : g

In [14]:
#Accessing Array Elements
a=[1,2,3]
print(a[0])

1

In [15]:
#Print Specific Array Element
print(a[2])

3

In [16]:
# Demonstration of Try and Except
a=[1,2,3]
try:
    print(a[2])
    print(a[4])
except IndexError:
    print("Out of Range")

3
Out of Range

In [17]:
# Demonstration of Try and Except 
try:
    a=3
    if a< 4:
        b=a/(a-3)
    print(b)
except(ZeroDivisionError,NameError):
    print("Error Handled")

Error Handled

In [18]:
# Raising our own Exception
x = 15
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 15

In [22]:
#Display data type of Variables
x=7
type(x)

int

In [20]:
y=10.50
type(y)

float

In [21]:
z="BCS"
type(z)

str

In [23]:
x=3+5j

In [24]:
type(x)

complex

In [48]:
x.real

3.0

In [25]:
x.imag

5.0

In [26]:
# Demo - Printing Strings
s="Hello,Welcome' to Hyderabad"
print(s)

Hello,Welcome' to Hyderabad

In [27]:
s=''' I am going to Hyderbad ' asdbkajdkajsd "asdbakdjahsd" '''

In [28]:
s

' I am going to Hyderbad \' asdbkajdkajsd "asdbakdjahsd" '

In [29]:
s="I am at \"Jubilee\" Hills"

In [30]:
s

'I am at "Jubilee" Hills'

In [31]:
s='I am at \'Jubilee\' Hills'

In [32]:
s

"I am at 'Jubilee' Hills"

In [33]:
s='''I
am
going
ASsAS
AsA
SAS
ASA
SA
SAS
AS

'''

In [34]:
repr(s)

"'I\\nam\\ngoing\\nASsAS\\nAsA\\nSAS\\nASA\\nSA\\nSAS\\nAS\\n\\n'"

In [35]:
# Demo for Slicing Data
str="PythonClassesatHyderabad"
print(str[5])

n

In [36]:
print(str[-5])

r

In [37]:
print(str[5:10])

nClas

In [38]:
print(str[5:-5])

nClassesatHyde

In [39]:
#Delete a String
del str

In [40]:
str

str

In [41]:
#Formatted Strings
string1 = "{} {} {}".format('Geeks', 'For', 'Life')
print(string1)

Geeks For Life

In [44]:
#Formatted Strings with index 
string1 = "{2} {1} {0}".format('Geeks', 'For', 'Life')
print(string1)

Life For Geeks

In [43]:
#Formatted strings with named placeholders
string1 = "{g} {l} {f}{g}".format(g='Geeks', f='For', l='Life')
print(string1)

Geeks Life ForGeeks

In [46]:
# String Handling Functions - Convert string to Upper Case
str="Hello World"
print(str.upper())

HELLO WORLD

In [47]:
# Convert string to Lower Case
print(str.lower())

hello world

In [48]:
#Check Whether string is a Alpha / Number
str="%^%&&"
print(str.isalnum())

False

In [49]:
#Joining Strings
str1="Hello World"
print(" ".join(str1))

H e l l o   W o r l d

In [50]:
#Join string with Character
str1="Hello World"
print("*".join(str1))

H*e*l*l*o* *W*o*r*l*d

In [51]:
#Join String
print("*".join(["sharks", "crustaceans", "plankton"]))

sharks*crustaceans*plankton

In [52]:
#Split Strings
str= "Jubilee Hills is located in Hyderabad"
print(str.split())

['Jubilee', 'Hills', 'is', 'located', 'in', 'Hyderabad']

In [53]:
#Split using Specific character
str= "Jubilee Hills is located in Hyderabad"
print(str.split("l"))

['Jubi', 'ee Hi', '', 's is ', 'ocated in Hyderabad']

In [54]:
#Split using Specific Character
str= "Jubilee Hills is located in Hyderabad"
print(str.split("H"))

['Jubilee ', 'ills is located in ', 'yderabad']

In [55]:
#Replace String 
str= "Nandi Hills is located in Hyderabad"
print(str.replace("Hyderabad","Bengaluru"))

Nandi Hills is located in Bengaluru