In [1]:
#Accept input from command line
x=int(input("Enter age"))

Enter age50

In [2]:
x

50

In [3]:
#Formatted Print Output
yvotes=50
nvotes=100
per=yvotes/nvotes + yvotes
'{:2.2f} Yes Votes {} Percentage'.format(yvotes,per)

'50.00 Yes Votes 50.5 Percentage'

In [4]:
s='Hello World'
str(s)

'Hello World'

In [5]:
repr(s)

"'Hello World'"

In [6]:
x=100
y=200
s='The value of x is'+repr(x)+ 'value of y is' + repr(y)
print(s)

The value of x is100value of y is200

In [7]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [8]:
import math
print(f'The value of pi is approximately {math.pi:.6f}.')

The value of pi is approximately 3.141593.

In [9]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [10]:
table = {'Syam': 4127, 'Jack': 4098, 'Dolly': 7678}
for name, phone in table.items():
    print(f'{name:8} ==> {phone:4d}')

Syam     ==> 4127
Jack     ==> 4098
Dolly    ==> 7678

In [12]:
#Print Formatted Outputs
print('We are the {} who say "{}!“ '.format('People', 'No to work'))

We are the People who say "No to work!“

In [13]:
#Print with Specific Argument
print('{0} and {1}'.format('spam', 'eggs'))

spam and eggs

In [14]:
print('{s} and {e}'.format(s='spam', e='eggs'))

spam and eggs

In [15]:
print('{} and {}'.format('spam', 'eggs'))

spam and eggs

In [16]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred', other='George'))

The story of Bill, Manfred, and George.

In [17]:
table = {'Syam': 4127, 'Jack': 4098, 'Dolly': 8637678}
print('Jack: {0[Jack]:d}* Syam: {0[Syam]:d}* Dolly:{0[Dolly]:d}'.format(table))

Jack: 4098* Syam: 4127* Dolly:8637678

In [18]:
table = {'Syam': 4127, 'Jack': 4098, 'Dolly': 8637678}
print('Jack: {0[Syam]:d}* Syam: {0[Syam]:d}* Dolly:{0[Dolly]:d}'.format(table))

Jack: 4127* Syam: 4127* Dolly:8637678

In [19]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [21]:
#Print Values in 3 columns
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [22]:
'coord:{lat} is Latitude and {lon} is longitude'.format(lat='21.5151',lon='134.456')

'coord:21.5151 is Latitude and 134.456 is longitude'

In [24]:
#Print Real and Imaginary Part
c = 3-5j
'The real part of the complex number is {0.real} and imaginary part is {0.imag}'.format(c)

'The real part of the complex number is 3.0 and imaginary part is -5.0'

In [26]:
#Padding Specific symbol
for x in range(1, 11):
    print('{0:*>5d} {1:*<10d} {2:*^10d}'.format(x, x*x, x*x*x))

****1 1********* ****1*****
****2 4********* ****8*****
****3 9********* ****27****
****4 16******** ****64****
****5 25******** ***125****
****6 36******** ***216****
****7 49******** ***343****
****8 64******** ***512****
****9 81******** ***729****
***10 100******* ***1000***

In [27]:
#Print different Number Systems - Conversion
"int: {0:d}; hex: {0:x}; oct: {0:o}; bin: {0:b}".format(42)

'int: 42; hex: 2a; oct: 52; bin: 101010'

In [28]:
"int: {0:d}; hex: {0:#x}; oct: {0:#o}; bin: {0:#b}".format(42)

'int: 42; hex: 0x2a; oct: 0o52; bin: 0b101010'

In [29]:
'{:,}'.format(1234567890)

'1,234,567,890'

In [30]:
#Print Date and Time
import datetime
d = datetime.datetime(2019, 10, 4, 12, 15, 58) 
'{:%Y-%m-%d-%H:%M:%S}'.format(d)

'2019-10-04-12:15:58'