In [1]:
#Demonstrate Sets and its Operations
#Create a set 
s1=set()

In [2]:
s1

set()

In [3]:
#Assigning value to a Set
s1=set("PythonClassesHyderabad")

In [4]:
s1

{'C', 'H', 'P', 'a', 'b', 'd', 'e', 'h', 'l', 'n', 'o', 'r', 's', 't', 'y'}

In [7]:
#Print only unique elements and remove duplicates
s1=set("pythonclasseshyderabad")

In [8]:
s1

{'a', 'b', 'c', 'd', 'e', 'h', 'l', 'n', 'o', 'p', 'r', 's', 't', 'y'}

In [9]:
#Assigning  a set 
s2=set(["Python","Classes","Hyderabad"])

In [10]:
s2

{'Classes', 'Hyderabad', 'Python'}

In [11]:
s3=set([1,2,3,4,4,5,6,7,7,8,9,9,10])

In [13]:
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
#Sets with Strings and Integers
s4=set(["Python",1,2,3,4,"Classes","Hyd",4,5,6])

In [15]:
s4

{1, 2, 3, 4, 5, 6, 'Classes', 'Hyd', 'Python'}

In [16]:
#Add a value to the set
s4.add(10)

In [17]:
s4

{1, 10, 2, 3, 4, 5, 6, 'Classes', 'Hyd', 'Python'}

In [18]:
#Dynamically create a set with range of value
for i in range(20):
    s4.add(i)

In [19]:
s4

{0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Python'}

In [20]:
#Update a Set
s4.update([31,32])

In [21]:
s4

{0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 31,
 32,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Python'}

In [22]:
#Add a tuple to a set
s4.add((100,200))

In [23]:
s4

{(100, 200),
 0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 31,
 32,
 4,
 5,
 6,
 7,
 8,
 9,
 'Classes',
 'Hyd',
 'Python'}

In [24]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [25]:
#Remove an item from a Set
set1.remove(5)

In [26]:
set1

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12}

In [27]:
#Discard an item in set
set1.discard(6)

In [28]:
set1

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [31]:
set1.discard(6)

In [29]:
#Remove an item in a set
set1.pop()

1

In [31]:
set1

{2, 3, 4, 7, 8, 9, 10, 11, 12}

In [33]:
#Clearing a set
set1.clear()

In [34]:
set1

set()

In [35]:

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [36]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [37]:
#Remove an item from a Set
set1.pop()

1

In [38]:
set1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [39]:
#Example of Set and Frozen Set
fs=set([1,2,3,4,5,6])
fs1=frozenset(fs)
fs1

frozenset({1, 2, 3, 4, 5, 6})

In [40]:
#Frozen Set - cannot Add item
fs1.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
#Set Operations - Union
set1 = {2, 4, 5, 6,7}
set2 = {4, 6, 7, 8}
set3 = {7, 8, 9, 10}
#Union
print(set1.union(set2))

{2, 4, 5, 6, 7, 8}

In [42]:
#Intersection
print(set1.intersection(set2))

{4, 6, 7}

In [49]:
print(set1.intersection(set2,set3))

{7}

In [43]:
#set Difference
A = {10, 20, 30}
B = {100, 60}
print (A.difference(B))

{10, 20, 30}

In [51]:
print(B.difference(A))

{100, 60}

In [44]:
#is Set Disjoint
print(A.isdisjoint(B))

True

In [45]:
#Subset Example
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
print(A.issubset(B))

True

In [46]:
print(B.issubset(C))

False

In [47]:
print(B.issuperset(A))

True