In [2]:
#List with homogeneos Values
planets=["Earth","Mars","Jupiter","Pluto"]

In [2]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [3]:
#List with Mixed Values
mixedlist=["Hello",123,12.06,"World"]

In [4]:
mixedlist

['Hello', 123, 12.06, 'World']

In [5]:
# List within a List
mlist=['Hello',[1,2,3,4]]

In [6]:
mlist

['Hello', [1, 2, 3, 4]]

In [7]:
#Print Length of a List
print(len(mlist))

2

In [8]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [9]:
#Print specific index of a List
print(planets[1])

Mars

In [10]:
#Print specific parts of a List
print(planets[1:4])

['Mars', 'Jupiter', 'Pluto']

In [11]:
# Negative index of  a list
print(planets[-1])

Pluto

In [12]:
planets

['Earth', 'Mars', 'Jupiter', 'Pluto']

In [12]:
#Print specific index in a list
planets[1]="Venus"

In [13]:
planets

['Earth', 'Venus', 'Jupiter', 'Pluto']

In [14]:
#Append item to a List
planets.append("Mars")

In [15]:
planets

['Earth', 'Venus', 'Jupiter', 'Pluto', 'Mars']

In [16]:
#Delete items from a List
del planets[2]

In [17]:
planets

['Earth', 'Venus', 'Pluto', 'Mars']

In [18]:
# Extend the List
planets.extend(["Jupiter","Saturn"])
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn']

In [19]:
#Extend the List
planets.extend([1,2,3,4,5])

In [20]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [21]:
#Insert in a list at specific position
planets.insert(3,"Mars")

In [22]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [23]:
#Remove item from a list
planets.remove("Mars")

In [24]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 'Saturn', 1, 2, 3, 4, 5]

In [25]:
#Remove item from the list specific item
planets.pop(5)

'Saturn'

In [27]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 1, 2, 3, 4, 5]

In [28]:
#Remove Last item
planets.pop()

5

In [29]:
planets

['Earth', 'Venus', 'Pluto', 'Mars', 'Jupiter', 1, 2, 3, 4]

In [30]:
#Clear the List
planets.clear()

In [31]:
planets

[]

In [33]:
#List Examples
planets=["Earth","Mars","Mars","Jupiter","Pluto"]

In [34]:
#Show the Index of Specific Element
planets.index("Jupiter")

3

In [35]:
#Show Index of specific Element
planets.count("Mars")

2

In [36]:
# Sorting a List
planets.sort()

In [38]:
print(planets)

['Earth', 'Jupiter', 'Mars', 'Mars', 'Pluto']

In [39]:
#Sort List in reverse Order
planets.reverse()

In [40]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [53]:
#Demonstration of Shallow Copy
planets1=planets

In [43]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [44]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth']

In [47]:
#Appending to List
planets1.append("Venus")

In [48]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus', 'Venus']

In [49]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus', 'Venus']

In [50]:
#Remove an item in list
planets.pop()

'Venus'

In [51]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus']

In [52]:
planets1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus']

In [54]:
#Demonstration of Deep Copy
p1=planets.copy()

In [55]:
p1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus']

In [56]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus']

In [57]:
#Extending a List
p1.extend([1,2,3,4])

In [58]:
p1

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus', 1, 2, 3, 4]

In [59]:
planets

['Pluto', 'Mars', 'Mars', 'Jupiter', 'Earth', 'Venus', 'Venus']

In [60]:
#Print a minimum element in List
print(min(planets))

Earth

In [61]:
#Print Maximum element 
print(max(planets))

Venus

In [63]:
#Create a range of elements
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
#Print a range of elements
print(list(range(10,50)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [65]:
#Print a range of Elements with step
print(list(range(10,50,5)))

[10, 15, 20, 25, 30, 35, 40, 45]

In [66]:
#Assign a range of elements to variable
a=list(range(100,500,50))

In [67]:
a

[100, 150, 200, 250, 300, 350, 400, 450]

In [68]:
#Assign list to  a variable using step
a=list(range(1,100,20))

In [69]:
a

[1, 21, 41, 61, 81]

In [70]:
# Demonstration of Tuples
planets=()

In [71]:
planets

()

In [72]:
planets=("Earth","Mars","Jupiter","Pluto")

In [73]:
planets

('Earth', 'Mars', 'Jupiter', 'Pluto')

In [74]:
#Assign Tuples
t1=(1,2,3)
t2=(4,5,6)
t3=(t1,t2)

In [75]:
t3

((1, 2, 3), (4, 5, 6))

In [76]:
print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [77]:
t4=(12.45,12,"Hello")

In [78]:
t4

(12.45, 12, 'Hello')

In [79]:
t4[2]

'Hello'

In [81]:
#Tuple with repeated items
t1=('Hyderabad',)*5

In [82]:
t1

('Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad')

In [83]:
t1=('Hyderabad')*5

In [84]:
t1

'HyderabadHyderabadHyderabadHyderabadHyderabad'

In [86]:
t1=('Hyderabad',)*5

In [87]:
t1

('Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad')

In [88]:
#Demonstrate tuple cannot be assigned any value
t1[2]="Hyd"

TypeError: 'tuple' object does not support item assignment

In [89]:
#Delete a Tuple
del t1

In [90]:
t1

NameError: name 't1' is not defined

In [91]:
#Repeating a tuple
t2=('Hyderabad',)*6
t2

('Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad')

In [92]:
print(len(t2))

6

In [96]:
list=[1,2,3,4,5,6]
print(tuple(list))

(1, 2, 3, 4, 5, 6)

In [93]:
#Using For Loop for tuple
t=('Hyderabad',)
for i in range(int(5)):
    t1=(t,)
    print(t1)

(('Hyderabad',),)
(('Hyderabad',),)
(('Hyderabad',),)
(('Hyderabad',),)
(('Hyderabad',),)

In [94]:
#Print specific element in  a Tuple
t=("Jubilee","Hills","Hyd")
print(t[2])

Hyd

In [95]:
#Print a splice in a tuple
print(t[:1])

('Jubilee',)

In [96]:
print(t[1:2])

('Hills',)

In [97]:
print(t[1:3])

('Hills', 'Hyd')

In [99]:
#Iterating a Tuple
for item in ('Jubilee','HIlls','Hyd','Bangalore'):
    print(item)

Jubilee
HIlls
Hyd
Bangalore

In [100]:
# Iterating Demo
for y in ('Python','Class','Hyd','Bangalore'):
    print(y)

Python
Class
Hyd
Bangalore

In [101]:
#Enumeration Example for a tuple
friends = ('Steve', 'Rachel', 'Michael', 'Monica')
for index, friend in enumerate(friends):
    print(index,friend)

0 Steve
1 Rachel
2 Michael
3 Monica

In [102]:
#Enumeration Example
d={1:"Python",2:"Classes",3:"Hyderabad"}

In [103]:
d

{1: 'Python', 2: 'Classes', 3: 'Hyderabad'}

In [104]:
#Dictionary
d1={"A":2,"B":24.0,"C":"123"}

In [105]:
d1

{'A': 2, 'B': 24.0, 'C': '123'}

In [106]:
#Nested Dictionary
d2={"age":[10,20,30,40],"course":{1:"C",2:"Java",3:"Python"}}

In [107]:
d2

{'age': [10, 20, 30, 40], 'course': {1: 'C', 2: 'Java', 3: 'Python'}}

In [108]:
#Listing Keys in a Dictionary
d1.keys()

dict_keys(['A', 'B', 'C'])

In [109]:
#Listing Values in a Dictionary
d1.values()

dict_values([2, 24.0, '123'])

In [110]:
#Listing value by a key
d2['age']

[10, 20, 30, 40]

In [111]:
#Delete a specific location in Dictionary
del d2['course'][2]

In [112]:
d2

{'age': [10, 20, 30, 40], 'course': {1: 'C', 3: 'Python'}}

In [113]:
#Delete specific item by Name
d2.pop('course')

{1: 'C', 3: 'Python'}

In [114]:
d2

{'age': [10, 20, 30, 40]}

In [115]:
d2.popitem()

('age', [10, 20, 30, 40])

In [116]:
d2

{}